
body,h1,h2,h3,h4,h5,h6,p,div,ol,p,ul{
	
      padding:0;
	  margin:0;

}
body{
	
	background:orange;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	
}
li{
	display:inline;
}
a{
	text-decoration:none;
	margin:0 15px 0 0;
	
}

a:hover{
 color:black;
 font:bold;
 background:white;
}
 
 .para1{
	 background:red;
	 color:purple;
 }
 .para2{
	 background:blue;
	 color:white;
 }
 
	 
